<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link th:href="@{/img/logo.png}" />
    <link href="/css/orders/orderForm.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div id="latte" class="w3-container w3-border city" style="display:none">
    <h2>Latte</h2>
    <p>Paris is the capital of France.</p>
    <table>
        <thead>
        <tr>
            <td>음료</td>
            <td>가격</td>
            <td>#</td>
        </tr>
        </thead>
        <tbody id="table_body">
        <tr th:each="drink : ${menus}">
            <td th:id="${drink.name}" th:text="${drink.name}"></td>
            <td th:text="${drink.price}"></td>
            <td>
                <input type="hidden" th:name="pk" th:value="${drink.pk}"/>
                <input type="submit" value="선택" th:onclick="'javascript:addInput(\''+ ${drink.pk} +'\');'"/>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>