<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link th:href="@{/img/logo.png}" />
    <link href="/css/orders/orderList.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <p>haha</p>
    <div id="div">
        <table>
            <thead>
            <tr>
                <td>음료</td>
                <td>수량</td>
                <td>#</td>
            </tr>
            </thead>
            <tbody >
            <tr th:each="input : ${list}">
                <td th:text="${input.drink}"></td>
                <td th:text="${input.howMany}"></td>
                <td>잉</td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>

<scipt type="text/javascript">


</scipt>