<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link th:href="@{/img/logo.png}" />
    <link href="/css/orders/orderForm.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
    <div>
        <div id="div_head"></div>
        <div id="div_body">
            <div class ="div_body" id="div_body_l">
               
            </div>
            <div class ="div_body" id="div_body_r">네모</div>

        </div>
    </div>
</div> <!-- /container -->

</body>
</html>