<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link th:href="@{/img/logo.png}" />
    <link href="/css/orders/orderForm.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
    <div>
    <table>
        <thead>
            <tr>
                <td>음료</td>
                <td>가격</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="drink : ${menus}">
                <td th:text="${drink.name}"></td>
                <td th:text="${drink.price}"></td>
            </tr>
        </tbody>
    </table>
    </div>
</div> <!-- /container -->

</body>
</html>