<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link th:href="@{/img/logo.png}" />
    <link href="/css/orders/orderList.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div id="div">

    </div>
</div> <!-- /container -->
</body>
</html>

<scipt type="text/javascript">
    $(document).ready(function(send) {
    list = send.inputs;
    total = send.total;

    $.each(list, function(index, value) {
        html += "<tr>";
        html += "<td>" + list[index].drink.name + "</td>";
        html += "<td>" + list[index].howMany + "</td>";
        html += "</tr>";
        ++index;
    });
        html += "<tr>";
        html += "<td>" + "합계" + "</td>"
        html += "<td>" + total + "</td>";
        html += "</tr>";
        $("#div").html(html);
    });


</scipt>