<!--1. 메뉴 선택시 선택창으로 inputMap 전송-->
<!--2. 수량 선택버튼 (1~10+) 10이상 수기입력-->
<!--3. 메뉴 및 수량 실시간 금액합산-->
<!--4. 페이지 뒤로 버튼-->
<!--5. 로그아웃 버튼-->
<!--6. 홈 버튼-->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link th:href="@{/img/logo.png}" />
    <link href="/css/orders/orderForm.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div id="div_top"></div>
    <div id="div_left">
        <div id="div_left_box">
<!--        <div class="w3-bar w3-black">-->
<!--            <button class="w3-bar-item w3-button tablink w3-red" onclick="openCity(event,'coffee')">COFFEE</button>-->
<!--            <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'latte')">LATTE</button>-->
<!--            <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'tea')">TEA</button>-->
<!--            <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'soda')">SODA</button>-->
<!--            <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'etc')">ETC</button>-->
<!--        </div>-->
            <div></div>
            <div class="bar_block w3-black w3-card" id="sidebar">
                <h5 class="bar_item">Menu</h5>
                <button class="bar_item w3-button tablink w3-red" onclick="openLink(event, 'coffee')">COFFEE</button>
                <button class="bar_item w3-button tablink" onclick="openLink(event, 'latte')">LATTE</button>
                <button class="bar_item w3-button tablink" onclick="openLink(event, 'tea')">TEA</button>
                <button class="bar_item w3-button tablink" onclick="openLink(event, 'soda')">SODA</button>
                <button class="bar_item w3-button tablink" onclick="openLink(event, 'etc')">ETC</button>
            </div>
        <div id="coffee" class="city">
            <table class="menu_table">
                <thead>
                </thead>
                <tbody>
                <tr th:each="drink : ${coffee}">
                    <td class="td_menu_name" th:id="${drink.name}" th:text="${drink.name}"></td>
                    <td class="td_price" th:text="${drink.price}"></td>
                    <td class="td_choice_btn">
                        <input type="hidden" th:name="pk" th:value="${drink.pk}"/>
                        <input class="choice_btn" type="submit" value="선택" th:onclick="'javascript:addInput(\''+ ${drink.pk} +'\');'"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="latte" class="city" style="display:none">
            <table class="menu_table">
                <thead>
                </thead>
                <tbody>
                <tr th:each="drink : ${latte}">
                    <td class="td_menu_name" th:id="${drink.name}" th:text="${drink.name}"></td>
                    <td class="td_price" th:text="${drink.price}"></td>
                    <td class="td_choice_btn">
                        <input type="hidden" th:name="pk" th:value="${drink.pk}"/>
                        <input class="choice_btn" type="submit" value="선택" th:onclick="'javascript:addInput(\''+ ${drink.pk} +'\');'"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div id="tea" class="city" style="display:none">
            <table class="menu_table">
                <thead>
                </thead>
                <tbody>
                <tr th:each="drink : ${tea}">
                    <td class="td_menu_name" th:id="${drink.name}" th:text="${drink.name}"></td>
                    <td class="td_price" th:text="${drink.price}"></td>
                    <td class="td_choice_btn">
                        <input type="hidden" th:name="pk" th:value="${drink.pk}"/>
                        <input class="choice_btn" type="submit" value="선택" th:onclick="'javascript:addInput(\''+ ${drink.pk} +'\');'"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div id="soda" class="city" style="display:none">
            <table class="menu_table">
                <thead>
                </thead>
                <tbody>
                <tr th:each="drink : ${soda}">
                    <td class="td_menu_name" th:id="${drink.name}" th:text="${drink.name}"></td>
                    <td class="td_price" th:text="${drink.price}"></td>
                    <td class="td_choice_btn">
                        <input type="hidden" th:name="pk" th:value="${drink.pk}"/>
                        <input class="choice_btn" type="submit" value="선택" th:onclick="'javascript:addInput(\''+ ${drink.pk} +'\');'"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div id="etc" class="city" style="display:none">
            <table class="menu_table">
                <thead>
                </thead>
                <tbody>
                <tr th:each="drink : ${etc}">
                    <td class="td_menu_name" th:id="${drink.name}" th:text="${drink.name}"></td>
                    <td class="td_price" th:text="${drink.price}"></td>
                    <td class="td_choice_btn">
                        <input type="hidden" th:name="pk" th:value="${drink.pk}"/>
                        <input class="choice_btn" type="submit" value="선택" th:onclick="'javascript:addInput(\''+ ${drink.pk} +'\');'"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div> <!-- div_left-->


    <div id="div_right">
        <div id="div_right_input"></div>
            <div id="div_right_box">
                <div id="div_right_total_box">
                    <div id="div_right_total"></div>
                    <p id="p_total">원</p>
                </div>
                <button type="button" id="paymentBtn" onclick="location.href='/payments'">완료</button>
            </div>
    </div> <!-- div_right -->
</div> <!-- /container -->

</body>
<script type="text/javascript">

    function openLink(evt, cityName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("city");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " w3-red";
    }

    function addInput(text) {
        var pk = text;
        var list = [];
        var total = 0;
        var html = "";
        var html2 = "";
        $.ajax({
            type: "POST",
            url: "/orders/orderForm",
            contentType: "text/plain; charset=utf-8;",
            data: pk,
            success: function(send) {
                list = send.inputs;
                total = send.total;

                $.each(list, function(index, value) {
                    html += "<tr>";
                    html += "<td>" + list[index].drink.name + "</td>";
                    html += "<td>" + list[index].howMany + "</td>";
                    html += "</tr>";
                    ++index;
                });

                    html2 += "<tr>";
                    html2 += "<td>" + total + "</td>";
                    html2 += "</>tr>";

                    $("#div_right_input").html(html);
                    $("#div_right_total").html(html2);


            }
        });
    }


</script>
</html>
