<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link th:href="@{/img/logo.png}" />
    <link href="/css/loginCustomerForm.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div id="page">
        <div id="top">
            <div id="topBtnDiv">
                <button class="button" onclick="location.href='/'">HOME</button>
            </div>
            <div id="topBottomDiv"></div>
        </div>
        <div class="ctr-p" id="two">
            <img src="/img/logo.png" />
        </div>
        <div class="ctr-p" id="bottom">
            <input type="text" id="inputIdText" name="id" placeholder="아이디" autofocus /><br>
            <input type="password" id="password" name="password" placeholder="비밀번호"
                   onKeypress="javascript:if(event.keyCode==13) {popup();}" /><br>
            <button type="button" id="loginBtn" onclick="popup();">로그인</button>
        </div>
    </div>
</div> <!-- /container -->
<script type="text/javascript">
    function popup() {
        id = $("#inputIdText").val();
        password = $("#password").val();
        data = id + "," + password;
        $.ajax({
            url: "/customers/login",
            data: data,
            dataType: "text",
            contentType: "text/plain; charset=utf-8;",
            type: "POST",
            success: function(data) {
                if (data == 0){
                    location.href="http://localhost:8080/orders";
                } else {
                    alert("로그인 실패");
                    $("#password").val('');
                    $("#password").focus();

                }
            }
        });
    };

</script>
</body>
</html>