<!--
1. 버튼 (클릭 시 활성화 됨)
    - 현금영수증 : 핸드폰 번호 입력 및 확인 -> 서버로 전송
    - 영수증 발행
    - 뒤로가기
    - 완료
    - 로그아웃
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link th:href="@{/img/logo.png}"/>
    <link href="/css/cashForm.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div id="page">
    <div id="top">
        <div id="topHomeBtn">
            <button class="button" id="backBtn" onclick="location.href='/payments'">뒤로</button>
            <button class="button" id="logoutBtn" onclick="location.href='/'">로그아웃</button>
        </div>
        <div class="ctr-p" id="topTwo">
            <div id="topLogo">
                <img src="/img/logo.png"/>
            </div>
            <div id="topNamed">
                <span id="letter">현금결제</span>
            </div>
        </div>
    </div>
    <div class="ctr-p" id="two">
        <div class="ctr-p" id="solid">
            <div id="id"></div>
            <div id="inputId">
                <input type="checkbox" id="checkbox_cash_receipt" name="checkbox_cash_receipt"
                       onclick="check_box(this.checked);" value="현금영수증" />현금영수증</input>
                <input type="text" id="input_cash_receipt" name="input_cash_receipt" placeholder="체크박스 누르면 활성화 됩니다." disabled="disabled"/>
            </div>
            <div id="pw"></div>
            <div id="inputPw">
                <input type="checkbox" class="button" id="checkbox_receipt" name="checkbox_receipt">영수증</input>
            </div>
        </div>
        <div class="ctr-p" id="three">
            <button type="button" class="button" id="paymentBtn" onclick="pay();">완료</button>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    function pay() {
        var box_cash_receipt;
        var phone_num;
        var box_receipt;
        var list = [];

        box_cash_receipt = document.getElementById("checkbox_cash_receipt");

        if (box_cash_receipt.checked) {
            var phone_num = document.getElementById("input_cash_receipt").value;
        }

        box_receipt = document.getElementById("checkbox_receipt").checked;

        list = {
            cash_receipt : phone_num,
            receipt : JSON.stringify(box_receipt)
        }

        $.ajax({
            type: "post",
            url: "/payments/cash",
            data: list,
            dataType: "text",
            success: function(result) {
                if (result == 0) {
                    alert("정상적으로 결제가 완료되었습니다.");
                    location.href="http://localhost:8080/orders";

                } else {
                    alert("오류");
                }
            }
        });
    }

    function check_box(checked) {
        if (checked) {
            $("#input_cash_receipt").prop("disabled", false);
        } else {
            $("#input_cash_receipt").val('');
            $("#input_cash_receipt").prop("disabled", true);
        }
    }




</script>

</html>

