@charset "UTF-8";

tbody tr:nth-child(2n) {
    background-color: white;
}
tbody tr:nth-child(2n+1) {
    background-color: #c9c8ca;
}


.td_choice_btn {
    padding-left: 40px;
    padding-right: 40px;
}

td {
    height: 80px;
}

.td_title_drink, .td_title_price, .td_title_btn {
    text-align: center;
}

.td_menu_name {
    padding-left: 30px;
    width: 280px;
}

.td_price {
    width: 120px;
    text-align: center;
}


.choice_btn {
    border: 3px solid ;
    border-color: #727274;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
}

table {
  border-collapse: separate;
  border-spacing: 0 0px;
}

.menu_table {
    border: 5px solid;
    border-color: #727274;
    border-radius: 15px;
    font-size: 200%;
}

div#div_left_box {
    position: absolute;
    right: 0px;
    width: 70%;
    height: 100%;
    background-color: red;
}
div#div_left {
    position: absolute;
	margin: 0 auto;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
    background-color: white;
}

div#div_right {
    position: absolute;
	margin: 0 auto;
	top: 0;
	right: 0;
	width: 30%;
	height: 50%;
    background-color: pink;
}

div#div_right_footer {
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 50%;
    background-color: grey;

}

button#paymentBtn {
	border: 3px solid ;
	border-color: #727274;
	border-radius: 15px;
	background-color: #c9c8ca;
	font-size: 110%;
	color: #484849;
	padding: 20px;
	width: 250px;
	margin: 5px auto;

}

#container {
	width: 960px;
	margin: 0 auto;
	text-align: center;
}

